body {
    background-image: url(./public/bkgr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*navigation section*/
#navbar-section {
    margin: 20px 100px auto 100px;
}

.navbar {
    padding: 20px;
}

.navbar-logo img {
    width: 160px;
    height: 110px;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 3px;
}

.nav-link:hover {
  color: #40CED4;
}

.navbar-collapse {
    justify-content: flex-end;
}

/*hero section*/
#hero-section {
    padding-top: 50px;
    padding-bottom: 30px;
}
.designer {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    font-weight: 200;
    color: #FFFFFF;
}

.creator {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    font-weight: 200;
    color: #FFFFFF;
    animation: fadeIn 10s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.shannon-mann {
    font-family: 'Lato', sans-serif;
    font-size: 7em;
    font-weight: 200;
    color: #474747;
    text-align: right;
}

@media (max-width: 768px) {
    .shannon-mann {
      font-size: 4em;
      text-align: center;
    }
  }

@media (max-width: 768px) {
    .hero-img {
      max-width: 250px;
      max-height: 350px;
    }
  }

  @media (max-width: 768px) {
    .creator,.designer {
      font-size: 2.3em;
      text-align: center;
    }
  }

/*work section*/
#work-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

#work-section h1 {
    font-family: 'Lato', sans-serif;
    font-size: 2.2em;
    font-weight: 200;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 30px;
}

#work-section h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    font-weight: 200;
    color: #FFFFFF;
    text-align: center;
}

.seaturtle-work {
    background-color: #474747;
    border: 4px solid #FF31D3;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 40px;
}

.duval-work {
    background-color: #474747;
    border: 4px solid #40CED4;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 40px;
}


.soundoff-work {
    background-color: #474747;
    border: 4px solid #2196F3;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 40px;
}


@media (max-width: 768px) {
    #work-section h2 {
      font-size: 1em;
    }
  }

/*skills section*/
#skills-section h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
    color: #FF31D3;
}

.work-experience h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    color: #FFFFFF;
}

.work-experience p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #40CED4;
}

.campout {
    padding: 10px;
}

.work {
    padding: 10px 10px 40px 10px;
}

.school {
    padding: 10px;
}

.skills {
    padding: 10px 0px 20px 0px;
}

.progress-bar {
    background-color: #FF31D3;
}

.skills h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    color: #FFFFFF;
}

/*footer*/
.footer-section {
    padding-top:20px;
}

.footer-section h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
}

.footer-section p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
}

